/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

Modified by Ismail Bennani for FADBADml

*/

:root {
  /*

  taken from one-light-syntax theme of Atom
  https://github.com/atom/one-light-syntax/blob/master/styles/colors.less

  */


  /* Config ----------------------------------- */
  --syntax-hue:          230;
  --syntax-saturation:    1%;
  --syntax-brightness:   95%;


  /* Monochrome ----------------------------------- */
  --mono-1: hsl(var(--syntax-hue), 8%, 24%);
  --mono-2: hsl(var(--syntax-hue), 6%, 44%);
  --mono-3: hsl(var(--syntax-hue), 4%, 64%);

  /* Colors ----------------------------------- */
  --hue-1:   hsl(198, 99%, 37%); /* <-cyan */
  --hue-2:   hsl(221, 87%, 60%); /* <-blue */
  --hue-3:   hsl(301, 63%, 40%); /* <-purple */
  --hue-4:   hsl(119, 34%, 47%); /* <-green */

  --hue-5:   hsl(  5, 74%, 59%); /* <-red 1 */
  --hue-5-2: hsl(344, 84%, 43%); /* <-red 2 */

  --hue-6:   hsl(41, 99%, 30%); /* <-orange 1 */
  --hue-6-2: hsl(41, 99%, 38%); /* <-orange 2 */

  /* Base colors ----------------------------------- */
  --syntax-fg: var(--mono-1);
  --syntax-bg: hsl(var(--syntax-hue), var(--syntax-saturation), var(--syntax-brightness));
}


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--syntax-bg);
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: var(--syntax-fg);
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
  color: var(--hue-3);
}

.hljs-type {
  font-weight: bold;
  color: var(--hue-6-2);
}

/* User color: hue: 0 */

.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--hue-6);
}

.hljs-number {
  color: var(--hue-5-2);  
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: var(--hue-6);
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
