/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

Modified by Ismail Bennani for FADBADml

*/

@import url("colors.css");

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--syntax-bg);
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: var(--syntax-fg);
}

.hljs-comment {
  color: var(--mono-2);
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
  color: var(--hue-3);
}

.hljs-type {
  font-weight: bold;
  color: var(--hue-6-2);
}

/* User color: hue: 0 */

.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--hue-6);
}

.hljs-number {
  color: var(--hue-5-2);
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: var(--hue-6);
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
