@font-face {
    font-family: "Manuale";
    src: url("../webfonts/Manuale-Regular.ttf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: "Manuale";
    src: url("../webfonts/Manuale-Light.ttf");
    font-weight:200;
    font-style:normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    width:100%;
    height:100%;
    margin: 0 auto;
}

header {
    top:0px;
    left:0px;
    right:0px;
    height:50px;
    overflow:hidden;
    background-color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

#top-button {
  position: fixed;
  top: 100px;
  right: 50px;
  color: black;
}

#top-button a:hover, #top-button a:visited {
  color: black;
}

#title {
    float:left;
    font-family: 'Manuale';
    text-decoration:none;
    color:black;
    font-variant:small-caps;
    font-weight:200;
    text-align:center;
    line-height:15px;
}

#title .big {
    font-size: 42px;
}

#title .small {
    font-size: 17px;
}

#logo {
    float:left;
    padding: 0px 10px 0px 0px ;
}

menu {
    float:right;
}

menuitem {
    margin-left: 20px;
    margin-right: 20px;
}

menuitem a {
    color: black;
}

#last-elt {
    height:1px;
    margin-bottom:50px;
}

footer {
  text-align:center;
  background-color: #f1f1f1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top:5px;
  height: 20px;
  overflow: hidden;
  color:grey;
  font-size: 12px;
}

.external-link[exponent]::after {
    content: attr(exponent);
    font-style: normal;
    font-weight: normal;
    margin:0px 0px 0px 0px;
    text-decoration:none;
    font-size: 10px;
    vertical-align:top
}

section h1 {
    text-align: center;
}

section {
    width:60%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#authors ul {
    list-style-type: none;
    padding-left: 0px;
}

#authors ul .name {
    font-size: 20px;
}

#authors ul li a {
    text-decoration: none;
    color: black
}

#authors ul .email {
    color: gray;
}

#download {
  margin-bottom: 50px;
}

#examples {
  margin-top: 50px;
}

#examples h2 {
    text-align: center;
}

#examples div {
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
}
