@font-face {
    font-family: "Manuale";
    src: url("../fonts/Manuale-Regular.ttf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: "Manuale";
    src: url("../fonts/Manuale-Light.ttf");
    font-weight:200;
    font-style:normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    width:100%;
    height:100%;
    margin: 0 auto;
    background-color:white;
}

header {
    overflow:hidden;
    background-color: #f1f1f1;
    padding: 20px 10px 0px 10px;
}

#title {
    float:left;
    font-family: 'Manuale';
    text-decoration:none;
    color:black;
    font-variant:small-caps;
    font-weight:200;
    text-align:center;
    line-height:15px;
}

#title .big {
    font-size: 42px;
}

#title .small {
    font-size: 17px;
}

#logo {
    float:left;
    padding: 0px 10px 0px 0px ;
}

menu {
    float:right;
}

menuitem {
    margin-left: 20px;
    margin-right: 20px;
}

menuitem a {
    color: black;
}

footer {
  text-align:center;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  color:grey;
  font-size: 12px;
}

.external-link[exponent]::after {
    content: attr(exponent);
    font-style: normal;
    font-weight: normal;
    margin:0px 0px 0px 0px;
    text-decoration:none;
    font-size: 10px;
    vertical-align:top
}

section h1 {
    text-align: center;
}

#authors, #licence {
    margin-top: 2%;
    text-align: center;
}

#licence {
    margin:auto;
    margin-bottom: 10%;
}

#authors ul {
    list-style-type: none;
    padding-left: 0px;
}

#authors ul .name {
    font-size: 20px;
}

#authors ul li a {
    text-decoration: none;
    color: black
}

#authors ul .email {
    color: gray;
}

#examples div {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    text-align:justify
}
